<%= form_with model: @task, local: true do |form| %>
  <div class="mb-3">
    <%= form.label :status, "Status" %>
    <%= form.select :status, Task.statuses.keys.map { |s| [s.humanize, s] }, {}, class: "form-select" %>
  </div>

  <%= form.submit "Salvar", class: "btn btn-success" %>
  <%= link_to "Cancelar", tasks_path, class: "btn btn-secondary" %>
<% end %>
