<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TarefaPlus</title>
  <%= stylesheet_link_tag "application", media: "all" %>

</head>
<body class="bg-light">
  <%= render 'layouts/navbar' %>

  <div class="container mt-5">
    <h2 class="text-center my-4">Acompanhamento de Tarefas</h2>
    
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="kanban-column">
          <div class="kanban-column-header">Pendentes</div>
          <% @tasks_students.select(&:para_fazer?).each do |task_student| %>
            <%= render partial: 'task_card_students', locals: { task_student: task_student } %>
          <% end %>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="kanban-column">
          <div class="kanban-column-header">Em Andamento</div>
          <% @tasks_students.select(&:fazendo?).each do |task_student| %>
            <%= render partial: 'task_card_students', locals: { task_student: task_student } %>
          <% end %>
        </div>
      </div>

      <div class="col-md-4 mb-4">
        <div class="kanban-column">
          <div class="kanban-column-header">Concluídas</div>
          <% @tasks_students.select(&:feito?).each do |task_student| %>
            <%= render partial: 'task_card_students', locals: { task_student: task_student } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
